{% extends "BankoCompteBundle::layout.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('bundles/bankocompte/js/mouvement.js') }}"></script>
{% endblock %}

{% block body -%}
    <h1>Mouvement creation</h1>

    <form action="{{ path('mouvement_create', {'compte_id': compte_id}) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('mouvement') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
