{% extends "BankoCompteBundle::compte.html.twig" %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('bundles/bankocompte/js/mouvement.js') }}"></script>
{% endblock %}

{% block body -%}
    <form action="{{ path('mouvement_new', {'compte_id': compte_id}) }}" method="post" {{ form_enctype(form) }}>
        <div id="titre">Ajouter des mouvements
            <button type="submit" class="btn btn-link"><i class="icon-ok"></i></button>
        </div>
        <div class="mouvements" data-prototype="
                <table id=&quot;new_mouvements&quot; name=&quot;new_mouvements&quot; class=&quot;table table-bordered table-condensed&quot;>
                    <tr>
                        <td>{{ form_widget(form.mouvements.vars.prototype.traite) | e }}</td>
                        <td>{{ form_widget(form.mouvements.vars.prototype.libelle) | e }}</td>
                        <td>{{ form_widget(form.mouvements.vars.prototype.date) | e }}</td>
                        <td>{{ form_widget(form.mouvements.vars.prototype.credit) | e }}</td>
                        <td>{{ form_widget(form.mouvements.vars.prototype.debit) | e }}</td>
                    </tr>
                </table>
            ">
            {{ form_rest(form) }}
        </div>
    </form>

<script>
    // Récupère le div qui contient la collection de mvts
    var collectionHolder = $('div.mouvements');

    // ajoute un lien « add a mvt »
    var $addMvtLink = $('<a href="#" class="btn btn-success btn-link add_mvt_link"><i class="icon-plus"></i></a>');
    var $newLinkLi = $('<p></p>').append($addMvtLink);

    jQuery(document).ready(function() {
        $('.required').addClass('hide');
        // ajoute un lien de suppression à tous les éléments li de
        // formulaires de mvt existants
        collectionHolder.find('tr').each(function() {
            addMvtFormDeleteLink($(this));
        });
        // ajoute l'ancre « ajouter un mvt » et li à la balise ul
        collectionHolder.append($newLinkLi);

        $addMvtLink.on('click', function(e) {
            // empêche le lien de créer un « # » dans l'URL
            e.preventDefault();
            // ajoute un nouveau formulaire mvt (voir le prochain bloc de code)
            addMvtForm(collectionHolder, $newLinkLi);
        });
    });
    
    function addMvtForm(collectionHolder, $newLinkLi) {
        // Récupère l'élément ayant l'attribut data-prototype comme expliqué plus tôt
        var prototype = collectionHolder.attr('data-prototype');
        var $idTableau = collectionHolder.children().length;
        // Remplace '__name__' dans le HTML du prototype par un nombre basé sur
        // la longueur de la collection courante
        var newForm = prototype.replace(/__name__/g, collectionHolder.children().length);

        // Affiche le formulaire dans la page dans un li, avant le lien "ajouter un mvt"
        var $newFormLi = $('<p id='+$idTableau+'></p>').append(newForm);
        $newLinkLi.before($newFormLi);
        
        // ajoute un lien de suppression au nouveau formulaire
        addMvtFormDeleteLink($newFormLi, collectionHolder.children().length);
        
        $(".form_date").datetimepicker({
          format: "dd/mm/yyyy",
          autoclose: 'true',
          language: 'fr',
          minView: '2'
        }).attr('readonly', 'readonly');
    }

    function addMvtFormDeleteLink($mvtFormLi, $idTableau) {
        var $removeFormA = $('<td><a href="#" class="btn btn-danger btn-link"><i class="icon-remove"></a></td>');
        var $id = $idTableau - 1;

        $("#"+$id+" #new_mouvements tr").append($removeFormA);
  
        if($('#new_mouvements tr').length > 1) {
           $('#new_mouvements tr').each(function(){ 
              $("#"+$idTableau+" #new_mouvements tr td:last").hide();
           })
        }
        $removeFormA.on('click', function(e) {
            // empêche le lien de créer un « # » dans l'URL
            e.preventDefault();

            // supprime l'élément li pour le formulaire de mvt
            $mvtFormLi.remove();
        });
    }
</script>
{% endblock %}
