{# src/Banko/CompteBundle/Resources/views/Compte/voir.html.twig #}
 
{% extends "BankoCompteBundle::layout.html.twig" %}

{% block title %}
    Lecture d'un compte - {{ parent() }}
{% endblock %}
 
{% block banko_body %}

  <h2> 
    {{ compte.nom }}
  </h2> 

  <table id="mouvements" class="table table-bordered table-condensed">
    <thead>
        <tr>
            <th>TRAITE</th>
            <th>LIBELLE</th>
            <th>DATE</th>
            <th>CREDIT</th>
            <th>DEBIT</th>
            <th></th>
        </tr>
    </thead>
    {% for mouvement in liste_mouvements %}
    
      <script type="text/javascript">
          $.fn.editable.defaults.mode = 'inline';
          $(document).ready(function(data) {
              $('#mouvements #traite{{ mouvement.id }}').editable({
                type: 'select',
                source: [{value: 1, text: 'Oui'}, {value: 0, text: 'Non'}],
                value: [1, 0],
                inputclass: 'input editable editable-click editable-empty checkboxtraite',
                success: function() {
                  var traite = $('.checkboxtraite').val();
                  $.ajax({
                      type: "POST",
                      url: '{{ path('mouvement_update2' , { 'id': mouvement.id }) }}',
                      data: { traite: traite },
                      cache: false,
                      success: function(traite) {document.location.reload(true);}
                  });     
                }   
              });

              $('#mouvements #libelle{{ mouvement.id }}').editable({
                inputclass: 'input input-small inputlibelle',
                success: function() {
                  var libelle = $('.inputlibelle').val();
                  $.ajax({
                      type: "POST",
                      url: '{{ path('mouvement_update2' , { 'id': mouvement.id }) }}',
                      data: { libelle: libelle },
                  });     
                }   
              });
   
              $('#mouvements #date{{ mouvement.id }}').editable({
                inputclass: 'input input-small inputdate editable editable-click',
                type: 'date',
                format: 'yyyy-mm-dd',
                viewformat: 'dd/mm/yyyy',
                datepicker: {
                  weekStart: 1
                },
                success: function() {
                  var date = $('.inputdate').val();
                  $.ajax({
                      type: "POST",
                      url: '{{ path('mouvement_update2' , { 'id': mouvement.id }) }}',
                      data: { date: date },
                  });     
                }   
              });
              
              $('#mouvements #credit{{ mouvement.id }}').editable({
                inputclass: 'input input-small inputcredit',
                success: function() {
                  var credit = $('.inputcredit').val();
                  $.ajax({
                      type: "POST",
                      url: '{{ path('mouvement_update2' , { 'id': mouvement.id }) }}',
                      data: { credit: credit },
                      cache: false,
                      success: function(credit) {document.location.reload(true);}
                  });     
                }   
              });
              
              $('#mouvements #debit{{ mouvement.id }}').editable({
                inputclass: 'input input-small inputdebit',
                success: function() {
                  var debit = $('.inputdebit').val();
                  $.ajax({
                      type: "POST",
                      url: '{{ path('mouvement_update2' , { 'id': mouvement.id }) }}',
                      data: { debit: debit },
                      cache: false,
                      success: function(debit) {document.location.reload(true);}
                  });
                }   
              });
          });
      </script>
      <tr>
        <td><a href="#" id="traite{{ mouvement.id }}">{% if mouvement.traite == 1 %}Oui{% else %}Non{% endif %} </a></td>
        <td><a href="#" id="libelle{{ mouvement.id }}">{{ mouvement.libelle }}</a></td>
        <td><a href="#" id="date{{ mouvement.id }}">{{ mouvement.date|date("d/m/Y") }}</a></td>
        <td><a href="#" id="credit{{ mouvement.id }}">{{ mouvement.credit }}</a></td>
        <td><a href="#" id="debit{{ mouvement.id }}">{{ mouvement.debit }}</a></td>
        <td><a href="{{ path('mouvement_delete', { 'id': mouvement.id }) }}"><i class="icon-remove"></i></a></td>
      </tr>
    {% else %}
      <tr>Pas (encore !) de mouvement</tr>
    {% endfor %}
  </table>
  {{ render(controller('BankoCompteBundle:Mouvement:new', {'compte_id': compte.id})) }}

    <table>
        <tr>
            <td style="width: 160px;"></td>
            <td style="width: 160px;"></td>
            <td style="width: 160px;"></td>
            <td style="width: 160px;"></td>
            <td style="width: 190px;">Solde Courant </td>
            <td style="width: 148px;">{{ solde_courant }}</td>
        </tr>
        <tr>
            <td style="width: 160px;"></td>
            <td style="width: 160px;"></td>
            <td style="width: 160px;"></td>
            <td style="width: 160px;"></td>
            <td style="width: 190px;">Solde Prévisionnel </td>
            <td style="width: 148px;">{{ solde_previsionnel }}</td>
        </tr>
    </table>

    <div class="pagination">
      
      <ul>
        {# On utilise la fonction range(a, b) qui crée un tableau de valeurs entre a et b #}
        {% for p in range(1, nombrePage) %}
          <li{% if p == page %} class="active"{% endif %}>
            <a href="{{ path('banko_voir', {'id': compte.id, 'page': p}) }}">{{ p }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <p>
      <a href="{{ path('banko_home') }}" class="btn">
        <i class="icon-chevron-left"></i>Retour à la liste
      </a>
    </p>
 
{% endblock %}
